[binaries]
c=['/archive/shared/projects/musl-cross-make/output/bin/arm-linux-musleabihf-gcc', '-march=armv7-a+fp', '-mfpu=neon', '-static']
cpp=['/archive/shared/projects/musl-cross-make/output/bin/arm-linux-musleabihf-g++', '-march=armv7-a+fp', '-mfpu=neon', '-static']
strip='strip'
#c_ld = 'lld'
#cpp_ld = 'lld'

[host_machine]
system = 'linux'
cpu_family = 'arm'
cpu = 'armv7m'
endian = 'little'